@(jsonResult: List[String])
@import com.google.gson.Gson
@import org.apache.commons.lang3.StringUtils
<!DOCTYPE html>
<html>
<title> Search Elastic!</title>
<head>
<link rel="stylesheet" href = "/assets/stylesheets/bootstrap.css" >
<style>
#Categories
{


}
</style>
</head>
<body ng-app>
<h1 class="page-header">Search Application <small>Redmart products</small></h1>
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
	<h2>Full text Search</h2>
</div>
<div class="col-md-6">
	<h2 style="float:right;">Filtered Search</h2>
</div>
</div>
</div>

<br>

<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<div id ="fulltextsearch">
<input type="text" class="typeahead" id="searchText" name="cars" data-provide="typeahead" >
<input type="button" class="btn btn-success" name="searchBtn" id="searchBttn" value="Search"/>
</div>
</div>
<div class="col-md-6">
<div id="filteredSearch" style="float:right;">
<input type="text" id="filteredText" />
<input type="button" id="FilterSubmit" class="btn btn-success" value="Search"/> 
</div>
</div>
</div>
</div>



</div>
<ol class="breadcrumb" id="breadcrums">
  <li><a href="#" id="home_br">Home</a></li>
</ol>
<center>

<div id="result">

</div>
</body>
<script src="/assets/javascripts/angular.min.js"></script>
<script src ="/assets/javascripts/jquery-2.0.3.js"></script>
<script src="/assets/javascripts/bootstrap3-typeahead.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    var obj;
    $("#searchBttn").click(function(){
        var queryString = $("#searchText").val();
        $.getJSON("http://localhost:9200/mongoindex/_search?q=*"+queryString+"*&size=11",
            function(data){
                 var image_raw=JSON.stringify(data.hits.hits[0]._source.img.name);

                 image_raw = image_raw.replace(/['"]+/g, '');

                 image_raw =  image_raw.replace(/^\//,'');

                 var image_str = "<div class='col-xs-6 col-md-3'><a href='#' class='thumbnail'><img src=http://s3-ap-southeast-1.amazonaws.com/media.redmart.com/newmedia/460x/"+image_raw+" /></a></div>";
                 var short_desc = data.hits.hits[0]._source.shortdesc;
                 short_desc = "<div class='form-inline'>"+short_desc+"</div>";
                  var title = "<div class=''><strong>"+data.hits.hits[0]._source.title+"</strong></div>";
                 result = "<div class='col-md-4'>"+image_str+title+short_desc+"</div>";
                         $("#result").html(result);
                      for(i=0;i<data.hits.hits.length;i++)
                          {
                          var image_raw=JSON.stringify(data.hits.hits[i]._source.img.name);

                          image_raw = image_raw.replace(/['"]+/g, '');

                          image_raw =  image_raw.replace(/^\//,'');

                          var image_str = "<div class='col-xs-6 col-md-3'><a href='#' class='thumbnail'><img src=http://s3-ap-southeast-1.amazonaws.com/media.redmart.com/newmedia/460x/"+image_raw+" /></a></div>";
                         var short_desc = data.hits.hits[i]._source.shortdesc;
                          var title = "<div class=''><strong>"+data.hits.hits[0]._source.title+"</strong></div>";
                          var result = "<div class='col-md-4'>"+image_str+title+short_desc+"</div>";
                          $("#result").append(result);
                          }
                    }
                );
    });    

});
</script>
<script>
$(document).ready(function(){
	var res = [""];
	

	$(".typeahead").typeahead({
		valueKey: 'name',
		hint: true,
		highlight: true,
	      source: function(query,process){
	    	  $.ajax({
	    		  url:'http://localhost:9000/getArray/'+query,
	    		  success:function(data){	  
	    			  var res = $(data).text();
	    			  var resu = res.replace(/[\])}[{(]/g,'');
	    			  var fin =  resu.split(",");
	    			  process(fin);
	    	 }
	    });
	    	  
	    	  
	      } 
	});	
});
</script>
<script>
$(document).ready(function(){
	$("#home_br").click(function(){
			
		$.ajax({
  		  url:'http://localhost:9000/getCategories',
  		  success:function(data){	 	
  			  var res = $(data).text();
			  var resu = res.replace(/[\])}[{(]/g,'');
			  var fin =  resu.split(",");
			  for(var i=0; i< fin.length;i++){
				  var cat =fin[i].trim();
		      var cat_div = "<div class='col-md-3 col-xs-6' id='Categories'><a href='#' onclick='getSubCategories(\""+cat.toString()+"\")' class='thumbnail'><div><h3>"+fin[i]+"</h3></div></a></div>";
  			  $("#result").append(cat_div);
			  }
  	 }
  			  
  			  
  });
		});
	});
	
</script>
<script>		
	
	function getSubCategories(category){
		 $("#result").html("");
		var Url = encodeURI('http://localhost:9000/getSubCategories/'+category);
		$.ajax({
	  		  url:Url,
	  		  success:function(data){	 	
	  			  var res = $(data).text();
				  var resu = res.replace(/[\])}[{(]/g,'');
				  var fin =  resu.split(",");
				  for(var i=0; i< fin.length;i++){
					  var cat =fin[i].trim();
					 
					  $("#result").append(cat);
				  }
				  }
		});
		var cat_br = "<li><a href='#' id='"+category+"_br' >"+category+"</a></li>";
		$("#breadcrums").append(cat_br);
	}
</script>

</html>

